<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2 class="mt-5">
        <%=  image_tag "Endangered.svg" %>
        <%=@animal.name%>
      </h2>
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      <div class="img-animal rounded" style="background-image: url(<%= asset_url 'red-fox.jpg' %>)">
      </div>
      <p>
        <strong>
        Scientific Name:
        </strong><br>
        <em>
        Vulpes vulpes necator
        </em>
      </p>
      <p>
        <strong>
        Characteristics:
        </strong><br>
        Despite its name, Sierra Nevada red foxes can be either mostly red, mostly black or a grayish brown cross phase.
      </p>
      <p>
        <strong>
        Endangered Status:
        </strong><br>
        The Sierra Nevada Distinct Population Segment was listed as endangered in 2021. Only about 18 to 39 individuals remain in the wild today.
      </p>
      <p>
        <strong>
        Sightings:
        </strong><br>
        Alpine, Fresno, Inyo, Madera, Mono and Tuolumne counties.
      </p>
      <p>
        <strong>
        Threatened By:
        </strong><br>
        Wildfire, drought, competition with coyotes, decreases in prey numbers and widespread hybridization with non-native foxes.
      </p>
    </div>
    <div class="col-6">
      <div class="map w-100 rounded"
        data-controller="map"
        data-map-markers-value="<%= @markers.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
      <h3 class="mt-4">Distribution of <%= @animal.name %> specimens</h3>
      <div class="w-100 bg-danger rounded">
        <%= image_tag "Chart-of-red-fox.png", class: "w-100 rounded" %>
      </div>
    </div>
    <div class="col-3">
      <%= render "shared/alerts" %>
      <% @animal.markers.each do |marker| %>

        <div class="card-product">
          <div class="card-product-infos">
            <h2><%=marker.title%></h2>
            <p><%=marker.description%></p>
            <p>Category: <%=marker.category%></p>
          <p>
            (<%=marker.latitude%>
            <%=marker.longitude%>)
          </p>
          <div>
            <%= link_to "Delete", marker_path(marker), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
          </div>
          </div>
        </div>
        <p></p>
        <% end %>
        <div>
          <%= link_to "Add new marker", new_animal_marker_path(@animal), class: "btn btn-flat" %>
          <%= link_to "View webcam", webcam_animal_path(@animal), class: "btn btn-flat" %>
        </div>
    </div>
  </div>
</div>
